<div class="filter-container">
  <mat-form-field appearance="fill" >
    <mat-label> -Sorting- </mat-label>
    <mat-select [formControl]="sortingControl">
      <mat-option value="">-select-</mat-option>
      <mat-option value="id-by-desc">Id By Desc</mat-option>
      <mat-option value="id-by-asc">Id By Asc</mat-option>
      <mat-option value="franchise-by-desc">Franchise By Desc</mat-option>
      <mat-option value="franchise-by-asc">Franchise By Asc</mat-option>
      <mat-option value="gender-by-desc">Gender By Desc</mat-option>
      <mat-option value="gender-by-asc">Gender By Asc</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-form-field" style="margin: 0px 6px;">
    <mat-label>Search...</mat-label>
    <input matInput type="text"  [formControl]="searchControl">
    <button  matSuffix mat-icon-button aria-label="Clear" (click)="textSearch()">
      <mat-icon>search</mat-icon>
    </button>
    </mat-form-field>
</div>
<div class="app-container" style="margin-top: 5px;">
  <a mat-raised-button color="primary" routerLink="/add">Add</a>
</div>
<div class="app-container">
  <mat-card class="example-card" *ngFor="let item of allSuperHeroes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title >{{ item.name }}</mat-card-title>
      <button
        mat-mini-fab
        matTooltip="Primary"
        color="primary"
        aria-label="Example mini fab with a heart icon"
      >
        {{ item.id }}
      </button>
    </mat-card-header>
    <img mat-card-image src="{{ item.imageUrl }}" alt="" />
    <mat-card-content>
      <p>Franchise - {{ item.franchise }}</p>
      <p>Gender - {{ item.gender }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [routerLink]="['/edit', item.id]">Edit</a>
    </mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteItem(item.id)">Delete</button>
  </mat-card>
</div>
<div style="margin: 0px 6px">
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
